# Core application frameworks
fastapi
uvicorn[standard]
streamlit

# ML and Data Handling
scikit-learn==1.5.1  # Specify a version for reproducibility
joblib
pandas
numpy

# Dashboard Visuals
wordcloud
matplotlib

# API communication
requests

# Environment variables (good practice)
python-dotenv